body{
    width: 100%;
}
.header{
    width: 1024px;
    margin: 0 auto;
     background: aquamarine;

}
.header h1 a{
    width: 210px;
    height: 62px;
    overflow: hidden;
    text-indent:-9998px ;
    background: url("../img/Layer 11.png") no-repeat left top;
    background-size: 80%;
    float: left;
    margin: 18px 0;
}
.header .nav{
    float: left;
}
.header .nav li {
    float: left;
    height: 84px;
    line-height: 84px;
    margin-left: 55px;
}
.header .nav li a{
    font-size: 14px;
    color: #2b7dd1;
}
.header .car{
    background: url("../img/Layer 1.png") no-repeat left center;
    background-size: 24px 22px;
    float: left;
    padding-left: 25px;
    margin-left: 30px;
    line-height: 84px;
}
.header .login{
    float: right;
}
.header .login li{
    float: left;
    height: 84px;
    line-height: 84px;
    margin-right: 16px;
}
.header .login li a{
    font-size: 14px;
    color: #666767;
}



