
.wrapper{
    width: 350px;
    /*background: red;*/
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.wrapper .header{
    border-bottom: 1px solid black;
}
.wrapper .header a {
    margin-left: 154px;
    font-size: 14px;
    color: aqua;
}
.wrapper ul{

}
.wrapper ul li::before{
    content:"" ;
    width: 0;
    display: inline-block;
    border-left: 5px solid orange;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.wrapper ul li a{
    color: #487d98;
    line-height: 35px;
}
