.header{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
   background: #d5fffb;
}
.header .logo{
margin-top: 10px;
    float: left;
    margin-left: 30px;
}
.header .nav{
float: left;
}
.header .nav li{
    float: left;
    margin-top:32px;
    margin-left: 40px;
    font-size: 14px;

}
.header .right ul{
    float: right;
}
.header .right ul li{
    float: left;
    margin-top: 32px;
    margin-right: 40px;
    font-size: 14px;
}