
.wrapper h1{
   background: orange;
    font-size: 16px;
    text-align: center;
    color: #f7f7f7;
    line-height: 35px;
    margin-top: 10px;
}
.wrapper h3{
    margin-top: 20px;
    font-size: 16px;
    color: #1d9fd3;
    margin-left: 20px;
}
.wrapper h4,p{
    font-size: 14px;
    margin-top: 6px;
    margin-left: 20px;
    color: orange;
}
.wrapper dl{
    margin-top: 16px;
    margin-left: 20px;
}
.wrapper dl dt{
    color: #1d9fd3;
    font-weight: bold;
}
.wrapper dl dd{
    line-height: 25px;
    color: darkgrey;
    font-size: 14px;
}
